.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	overflow-x: hidden;
	display: none;
	z-index: 20;
}
.modal-box-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.modal-box-small {
	position: relative;
	width: 763px;
	height: 413px;
	border-radius: 5px;
	background-color: #f9f9f9;
	background-image: url("../img/mbg1.png");
	background-repeat: no-repeat;
	z-index: 100;
	margin: auto;
	display: none;
}
.modal-box-head {
	text-align: right;
	padding-top: 15px;
	i {
		font-size: 20px;
		padding-right: 20px;
		cursor: pointer;
	}
}

//----------------------------/

.modal-box-big {
	position: relative;
	width: 1079px;
	height: 525px;
	border-radius: 5px;
	background-color: #f9f9f9;
	background-image: url("../img/mbg2.png");
	background-repeat: no-repeat;
	z-index: 100;
	margin: auto;
	display: none;
}