
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	//overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
    -ms-flex-pack: start;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	//padding: 0 30px 0 30px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;
	color: #fff;	
}
h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;
	color: #fff;
}
h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 18px 0 15px 0;
	font-weight: 400;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}


//Othe options
.box-wrapper {
	@include flex-box;
	.box-wrapper-item {
		width: 50%;
		height: 100vh;
		position: relative;
	}
}

.btn {
	width: 350px;
	height: 53px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
	border-radius: 5px;
	background-color: #000000;
	display: block;
	text-align: center;
	letter-spacing: 0.7px;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 55px;
	color: #fff;
	margin-top: 17px;

}

.btn-modal {
	background-color: #f6404b;
}

.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ 
	background-color: #fff; 
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail{ 
	background-color: white; 
} 
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	//height: 33px;
}
.mCSB_dragger {
	height: 33px;
}

//Modal window
.modal-box-small-contant,
.modal-box-big-contant {
	text-align: center;
	margin-top: 63px;
	.modal-form_main-title {
		font-size: 26px;
		font-weight: 400;
		text-transform: uppercase;
		color: #3b3b3b;
		font-family: "ProximaNovaBold";
		padding-bottom: 8px;
	}
	.modal-form_more-title{
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		color: #848484;
	}
	.input-box {
		margin-top: 18px;
		input {
			width: 253px;
			border: 1px solid #848484;
			background-color: inherit;
			padding: 19px 0 16px 21px;
			font-size: 12px;
		}
	}
	.small-button {
		width: 203px;
		height: 53px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
		border-radius: 5px;
		border: 1px solid #f6404b;
		background-color: #f6404b;
		color: #fff;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		font-family: "ProximaNovaBold";
		letter-spacing: 0.7px;
		margin-top: 15px;
	}
}
.btn-close-modal {
	position: absolute;
	top: -10px;
	right: -10px;
	border: 1px solid #848484;
	background-color: #f9f9f9;
	border-radius: 50%;
	cursor: pointer;
	img {
		display: inline-block;
		padding: 10px 10px 7px 10px;
	}
}

.modal-box-big-contant {
	.form {
		width: 500px;
		margin: 0 auto;
	}
	.input-box {
		@include flex-box;
		-webkit-justify-content: space-between;
    	justify-content: space-between;
		input {
			width: 48%;
		}
	}
	.select-box {
		margin-top: 18px;
	}
	.jq-selectbox__select {
		height: auto;
		text-align: left;
		font-size: 12px;
		font-weight: 400;
		border: 1px solid #848484;
		background-color: inherit;
		padding: 19px 0 16px 21px;
	}
	.jq-selectbox__trigger-arrow {
		top: 22px;
	}
	.jq-selectbox li.selected {
		background-color: #848484;
	}
	.jq-selectbox li:hover {
		background-color: #848484;
	}
	.modal-form_other-title {
		margin-top: 20px;
		color: #848484;
		font-size: 12px;
		font-weight: 400;
		line-height: 18px;
		a {
			text-decoration: underline;
			color: #848484;
			&:hover {
				color: #000;
			}
		}
	}
}



/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align:left;
    width: 100%;
	order: 2;
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;
	//background: #fff000;
}

.box-nav {
	position: fixed;
	top: 35%;
	right: 0;
	.box-nav-list {

	}
	.box-nav-list_item {
		position: relative;
		border-bottom: 1px solid #fff;
		margin-top: 18px;
		padding: 0 15px 0 33px;
		&:before {
			content: "";
			width: 33px;
			height: 6px;
			background-color: #fff;
			position: absolute;
			bottom: -4px;
			left: 0;
		}
		a {
			font-size: 12px;
			font-weight: 300;
			line-height: 24.42px;
			text-transform: uppercase;
			color: #fff;
		}
	}
	.active-nav {

	}

}


.box-social {
	position: fixed;
	z-index: 10;
	top: 350px;
	left: 37px;
	color: #fff;
	font-size: 14px;
	.box-social_list {
		-ms-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		margin-top: 70px;
	}
	a {
		color: #fff;
		font-size: 12px;
	}
}

.wrap-img-content-box {
	@include flex-box;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
    align-items: center;
    width: 137%;
    z-index: 9;
    position: relative;
}
.wrap-img-content {
	margin-top: 238px;
	max-width: 840px;
}
.title-content-change {
	max-width: 844px;
	color: #fff;
}

.min-title {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #091840;
	font-family: "ProximaNovaBold";
	font-style: italic;
	margin-bottom: 19px;
}
.big-title {
	font-family: "LatoBold";
	font-size: 83px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 75px;
	color: #fff;
	span {
		font-size: 64px;
	}
}
p {
	font-size: 23px;
	line-height: 28px;
	font-family: "LatoLight";
	padding-top: 8px;
}

.title-content-box-btn {
	margin-top: 53px;
}

.scroll-box {
	position: fixed;
	bottom: 0;
	left: 15px;
	width: 100%;
	z-index: 18;
	.scroll-box-content {
		@include flex-box;
		-webkit-justify-content: center;
    	justify-content: center;
	}
	.scroll-box-btn {
		display: block;

	}
	.scroll-top-box__line {
		position: relative;
		width: 1px;
		height: 90px;
		background-color: #fff;
		margin-top: 10px;
		&:before {
			content: "";
			width: 6px;
			height: 33px;
			background-color: #fff;
			position: absolute;
			top: 0;
			left: -3px;
		}
	}
	.scroll-top-box__text {
		position: relative;
		top: -20px;
		left: -16px;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: 0.9px;
		color: #fff;
		-ms-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
}

.info-box {
	@include flex-box;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    .info-box-content {
    	width: 450px;
    	margin: 232px 50px 0 0;
    	p {
    		font-size: 18px;
			font-weight: 400;
			line-height: 26px;
			margin-top: 5px;
    	}
    	.info-box-box-btn {
    		margin-top: 48px;
    	}
    }
}

.banks-box {
	padding-top: 146px;
	margin-left: 68px;
	@include flex-box;
	-webkit-justify-content: space-between;
    justify-content: space-between;
	width: 520px;
	.banks-box_item {
		width: 233px;
		height: 63px;
		cursor: pointer;
		position: relative;
		margin-top: 6px;
		border-radius: 5px;
		border: 1px solid #183c9f;
		text-align: center;
		display: -webkit-flex;
	    display: flex;
	    -webkit-justify-content: center;
	    justify-content: center;
		.befor-img {
			margin: auto;
		}
		.after-img {
			visibility: hidden;
			position: absolute;
			top: 0.5px;
			left: 0;
			-webkit-transition: all .1s;
			transition: all .1s;
		}
		&:hover {
			.after-img {
				visibility: visible;
			}
		}
	}
}


.box-tabs-wrap {
	@include flex-box;
	-webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	-ms-justify-content: flex-end;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9;
    .box-tabs {
    	margin-top: 225px;
    	width: 51%;
    	.tabs-box-btn {
    		margin-top: 60px;
    	}
    }
}

.box-tabs-wrap-help {
	//width: 90%;
}

.tabs-container-help {
	margin-top: 50px;
}

.tabs-container {
	margin-top: 20px;
	.tabs-list {
		// list-style-type: disc;
		.tabs-list__item {
			position: relative;
			color: #fff;
			margin-bottom: 0;
			a {
				font-size: 24px;
				color: #fff;
				display: block;
				padding: 10px 0 10px 45px;
			}
			&:hover {
				background-color: #0b1e4d;
			}
			.dot {
				font-size: 28px;
				//float: left;
				position: absolute;
				top: 5px;
				left: 10px;
			}
		}
		.active {
			background-color: #0b1e4d;
		}
	}
}

.tabs-content_wrap {
	height: 100%;
	@include flex-box;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
	.tabs-content {
		width: 495px;
		height: 167px;
		margin-left: 100px;
		margin-top: 60px;
		overflow: auto;
		p {
			font-size: 18px;
			display: none;
		}
	}
	.tabs-help-content {
		margin-top: 220px;
	}
}

.box-tabs-content {
	width: 250%;
	margin-top: 12px;
	.big-title {
		span {
			font-size: 63px;
		}
		line-height: 100px;
	}
	.min-title {
		margin-bottom: 2px;
		font-family: 'ProximaNova-Semibold';
		letter-spacing: -1px;
	}
}

.box-contacts {
	margin-top: 225px;
	margin-right: 19px;
}
.contact-content {
	@include flex-box;
	margin-top: 50px;
	.contact-box_item {
		display: block;
		color: #fff;
		font-size: 24px;
		line-height: 40px;
		margin-right: 81px;
		text-align: center;
		img {
			display: inline-block;
		}
	}
}

.form-box {
	width: 403px;
	margin-top: 80px;
	.form-box_title {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 40px;
		color: #fff;
	}
	.form-box-input {
		width: 100%;
		@include flex-box;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
    	justify-content: space-between;
		input {
			width: 48%;
			border: 1px solid #fff;
			background-color: inherit;
			padding: 10px 0 10px 20px;
		}
		 input::-webkit-input-placeholder {
		   color: #fff;
		   font-size: 12px;
		}
		input::-moz-input-placeholder {
		   color: #fff;
		   font-size: 12px;
		}  
	}
	.form-box-textarea {
		margin-top: 12px;
		textarea {
			width: 100%;
			height: 92px;
			border: 1px solid #fff;
			background-color: inherit;
			resize: none;
			padding: 10px 0 0 20px;;
		}
		textarea::-webkit-input-placeholder {
			color: #fff;
		   font-size: 12px;
		}
		textarea::-moz-input-placeholder {
			color: #fff;
		   font-size: 12px;
		}
	}
	.form-box-butn {
		@include flex-box;
		-webkit-justify-content: flex-end;
		-moz-justify-content: flex-end;
		-ms-justify-content: flex-end;
    	justify-content: flex-end;
    	margin-top: 20px;
    	.btn-form {
    		width: 214px;
			height: 53px;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
			border-radius: 5px;
			border: none;
			background-color: #fff;
			letter-spacing: 0.7px;
			font-size: 14px;
			text-transform: uppercase;
			color: #00092b;
    	}
	}
}


.requisites-box-wrap {
	height: 100%;
	@include flex-box;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    .requisites-box {
    	margin: 158px 0 0 110px;
    }
    .requisites-box-title {
    	font-size: 30px;
    	text-transform: uppercase;
    	margin-bottom: 20px;
    }
    .requisites-box {
    	width: 500px;
		color: #fff;
		font-size: 10px;
		p {
			line-height: 40px;
		}
    }
}
//-------------------------//
.wrap-img {
	position: relative;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


.wrap-img-left-1 {
	background-image: url(../img/bg1.png);
}
.wrap-img-left-2 {
	background-image: url(../img/bg3.png);
}
.wrap-img-left-3 {
	background-image: url(../img/bg5.png);
}
.wrap-img-left-4 {
	background-image: url(../img/bg7.png);
}
.wrap-img-left-5 {
	background-image: url(../img/bg10.png);
}
//---------------------//
.wrap-img-right-1 {
	background-image: url(../img/bg2.png);
}
.wrap-img-right-2 {
	background-image: url(../img/bg4.png);
}
.wrap-img-right-3 {
	background-image: url(../img/bg6.png);
}
.wrap-img-right-4 {
	background-image: url(../img/bg8.png);
}
.wrap-img-right-5 {
	background-image: url(../img/bg9.png);
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{min-height: 100hv; width: 100%; display: flex; flex-direction: column;}
}

@media screen and (max-width: 1678px){
	.box-tabs-content {
		.big-title {
			span {
				font-size: 50px;
			}
		}
	}
}

@media screen and (max-width: 1366px) {
	
	.scroll-box 
	.scroll-top-box__line {
		height: 50px;
		&:before {
			height: 20px;
		}
	}

	.scroll-box 
	.scroll-top-box__text {
		top: -10px;
	}
	//------------------------/

	.btn {
		width: 320px;
    	height: 43px;
    	line-height: 44px;
	} 
	//-----------------------/
	.wrap-img-content-box {
		width: 120%;
	}
	.wrap-img-content {
		margin-top: 180px;
		max-width: 600px;
		.title-content-change {
			max-width: 100%;
			.big-title {
				font-size: 50px;
				line-height: 50px;
				span {
					font-size: 30px;
				}
			}
			p {
				font-size: 18px;
			}
		}
	}
	.title-content-box-btn {
		margin-top: 10px;
	}
	//-------------------------/
	.info-box 
	.info-box-content 
	.info-box-box-btn {
		margin-top: 10px;
	}

	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 480px) {
	
}