
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	//background:#000 url(../img/bg_footer.jpg) no-repeat left top;
	background-color: #05102b;	
	//height: 300px; 
	text-align:left;
	width:100%;
	min-width: $min-width;
	order: 3;	
    -webkit-order: 3;
    position: relative;
    top: 50px;
    z-index: 9999;
}





@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}

@media screen and (max-width: 480px) {
	
}