
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	//background:#f0f0f0 url(../img/bg_header.jpg) no-repeat left top;
	width:100%; 
	//height: 460px;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
    -webkit-order: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;	
}

.header-box {
	@include flex-box;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
    justify-content: space-between;
    padding: 0 75px 0 40px;
}

.box-logo {
	padding-top: 20px;
	width: 250px;
}
.box-lang {
	color: #fff;
	font-size: 14px;
	padding-top: 55px;
	margin-right: 15px;
	a {
		color: #fff;
	}
	.divide:after {
		content: "/";
		margin: 0 5px 0 8px;
	}
}



@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){

}

@media screen and (max-width: 991px) {
	
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 768px) {
	
}

@media screen and (max-width:480px) {
	
}